In [1]:
from grupos import Grupo
from database import Database, TabelaAprovados, TabelaGrupos, TabelaUsuario
from contas import Conta
from usuarios import Usuario 

db = Database()
conta = Conta(db)

In [2]:


grupos = [
            {'grupo': 'TI', 'qtde_vagas': 10, 'link': 'link sera mostrado p TI'},
            {'grupo': 'Gestão', 'qtde_vagas': 20, 'link': 'link sera mostrado p Gestão'},
            {'grupo': 'Direito', 'qtde_vagas': 6, 'link': 'link sera mostrado p Direito'}
          ]

for grupo in grupos:
    db.inserirDados(TabelaGrupos, grupo)

In [3]:
lista_aprovados = [{'n_inscr': 1, 'posicao': 1, 'nome': 'Jimmy Paiva Gomes', 'grupo': 'TI'},
 {'n_inscr': 2, 'posicao': 1, 'nome': 'Luiza Oliveira', 'grupo': 'Gestão'},
 {'n_inscr': 3, 'posicao': 1, 'nome': 'Maria Souza', 'grupo': 'Direito'},
 {'n_inscr': 4, 'posicao': 2, 'nome': 'Maria Costa', 'grupo': 'TI'},
 {'n_inscr': 5, 'posicao': 2, 'nome': 'Luiza Costa', 'grupo': 'Gestão'},
 {'n_inscr': 6, 'posicao': 2, 'nome': 'Ciclano Ferreira', 'grupo': 'Direito'},
 {'n_inscr': 7, 'posicao': 3, 'nome': 'Julia Gomes', 'grupo': 'TI'},
 {'n_inscr': 8, 'posicao': 3, 'nome': 'Fulano Silva', 'grupo': 'Gestão'},
 {'n_inscr': 9, 'posicao': 3, 'nome': 'João Oliveira', 'grupo': 'Direito'},
 {'n_inscr': 10, 'posicao': 4, 'nome': 'Carlos Costa', 'grupo': 'TI'},
 {'n_inscr': 11, 'posicao': 4, 'nome': 'Ana Barbosa', 'grupo': 'Gestão'},
 {'n_inscr': 12, 'posicao': 4, 'nome': 'Beltrano Gomes', 'grupo': 'Direito'},
 {'n_inscr': 13, 'posicao': 5, 'nome': 'Maria Pereira', 'grupo': 'TI'},
 {'n_inscr': 14, 'posicao': 5, 'nome': 'Beltrano Almeida', 'grupo': 'Gestão'},
 {'n_inscr': 15, 'posicao': 5, 'nome': 'Fulano Gomes', 'grupo': 'Direito'},
 {'n_inscr': 16, 'posicao': 6, 'nome': 'João Barbosa', 'grupo': 'TI'},
 {'n_inscr': 17, 'posicao': 6, 'nome': 'Carlos Ferreira', 'grupo': 'Gestão'},
 {'n_inscr': 18, 'posicao': 6, 'nome': 'Julia Martins', 'grupo': 'Direito'},
 {'n_inscr': 19, 'posicao': 7, 'nome': 'Pedro Ferreira', 'grupo': 'TI'},
 {'n_inscr': 20, 'posicao': 7, 'nome': 'Luiza Silva', 'grupo': 'Gestão'},
 {'n_inscr': 21, 'posicao': 7, 'nome': 'Ana Gomes', 'grupo': 'Direito'},
 {'n_inscr': 22, 'posicao': 8, 'nome': 'Maria Barbosa', 'grupo': 'TI'},
 {'n_inscr': 23, 'posicao': 8, 'nome': 'Luiza Souza', 'grupo': 'Gestão'},
 {'n_inscr': 24, 'posicao': 8, 'nome': 'João Martins', 'grupo': 'Direito'},
 {'n_inscr': 25, 'posicao': 9, 'nome': 'Beltrano Pereira', 'grupo': 'TI'},
 {'n_inscr': 26, 'posicao': 9, 'nome': 'Maria Silva', 'grupo': 'Gestão'},
 {'n_inscr': 27, 'posicao': 9, 'nome': 'Carlos Barbosa', 'grupo': 'Direito'},
 {'n_inscr': 28, 'posicao': 10, 'nome': 'Ana Pereira', 'grupo': 'TI'},
 {'n_inscr': 29, 'posicao': 10, 'nome': 'Ciclano Silva', 'grupo': 'Gestão'},
 {'n_inscr': 30, 'posicao': 10, 'nome': 'João Costa', 'grupo': 'Direito'},
 {'n_inscr': 31, 'posicao': 11, 'nome': 'Luiza Martins', 'grupo': 'TI'},
 {'n_inscr': 32, 'posicao': 11, 'nome': 'Fulano Almeida', 'grupo': 'Gestão'},
 {'n_inscr': 33, 'posicao': 11, 'nome': 'Maria Ferreira', 'grupo': 'Direito'},
 {'n_inscr': 34, 'posicao': 12, 'nome': 'Fulano Costa', 'grupo': 'TI'},
 {'n_inscr': 35, 'posicao': 12, 'nome': 'Pedro Souza', 'grupo': 'Gestão'},
 {'n_inscr': 36, 'posicao': 12, 'nome': 'Beltrano Souza', 'grupo': 'Direito'},
 {'n_inscr': 37, 'posicao': 13, 'nome': 'Carlos Silva', 'grupo': 'TI'},
 {'n_inscr': 38, 'posicao': 13, 'nome': 'Fulano Martins', 'grupo': 'Gestão'},
 {'n_inscr': 39, 'posicao': 13, 'nome': 'João Silva', 'grupo': 'Direito'},
 {'n_inscr': 40, 'posicao': 14, 'nome': 'Pedro Barbosa', 'grupo': 'TI'},
 {'n_inscr': 41, 'posicao': 14, 'nome': 'Julia Pereira', 'grupo': 'Gestão'},
 {'n_inscr': 42, 'posicao': 14, 'nome': 'Luiza Gomes', 'grupo': 'Direito'},
 {'n_inscr': 43, 'posicao': 15, 'nome': 'Pedro Gomes', 'grupo': 'TI'},
 {'n_inscr': 44, 'posicao': 15, 'nome': 'Ana Almeida', 'grupo': 'Gestão'},
 {'n_inscr': 45, 'posicao': 15, 'nome': 'Ciclano Martins', 'grupo': 'Direito'},
 {'n_inscr': 46, 'posicao': 16, 'nome': 'Ana Costa', 'grupo': 'TI'},
 {'n_inscr': 47, 'posicao': 16, 'nome': 'Julia Ferreira', 'grupo': 'Gestão'},
 {'n_inscr': 48, 'posicao': 16, 'nome': 'Maria Almeida', 'grupo': 'Direito'},
 {'n_inscr': 49, 'posicao': 17, 'nome': 'João Ferreira', 'grupo': 'TI'},
 {'n_inscr': 50, 'posicao': 17, 'nome': 'Ciclano Gomes', 'grupo': 'Gestão'},
 {'n_inscr': 51, 'posicao': 17, 'nome': 'Carlos Martins', 'grupo': 'Direito'},
 {'n_inscr': 52, 'posicao': 18, 'nome': 'Beltrano Silva', 'grupo': 'TI'},
 {'n_inscr': 53, 'posicao': 18, 'nome': 'Ana Ferreira', 'grupo': 'Gestão'},
 {'n_inscr': 54, 'posicao': 18, 'nome': 'Pedro Martins', 'grupo': 'Direito'},
 {'n_inscr': 55, 'posicao': 19, 'nome': 'Beltrano Barbosa', 'grupo': 'TI'},
 {'n_inscr': 56, 'posicao': 19, 'nome': 'Luiza Ferreira', 'grupo': 'Gestão'},
 {'n_inscr': 57, 'posicao': 19, 'nome': 'Pedro Oliveira', 'grupo': 'Direito'},
 {'n_inscr': 58, 'posicao': 20, 'nome': 'Luiza Barbosa', 'grupo': 'TI'},
 {'n_inscr': 59, 'posicao': 20, 'nome': 'Julia Oliveira', 'grupo': 'Gestão'},
 {'n_inscr': 60, 'posicao': 20, 'nome': 'Luiza Pereira', 'grupo': 'Direito'},
 {'n_inscr': 61, 'posicao': 21, 'nome': 'Julia Silva', 'grupo': 'TI'},
 {'n_inscr': 62, 'posicao': 21, 'nome': 'Julia Almeida', 'grupo': 'Gestão'},
 {'n_inscr': 63, 'posicao': 21, 'nome': 'Ana Silva', 'grupo': 'Direito'},
 {'n_inscr': 64, 'posicao': 22, 'nome': 'Luiza Almeida', 'grupo': 'TI'},
 {'n_inscr': 65, 'posicao': 22, 'nome': 'Ciclano Souza', 'grupo': 'Gestão'},
 {'n_inscr': 66, 'posicao': 22, 'nome': 'João Souza', 'grupo': 'Direito'},
 {'n_inscr': 67, 'posicao': 23, 'nome': 'Beltrano Costa', 'grupo': 'TI'},
 {'n_inscr': 68, 'posicao': 23, 'nome': 'Maria Oliveira', 'grupo': 'Gestão'},
 {'n_inscr': 69, 'posicao': 23, 'nome': 'Carlos Pereira', 'grupo': 'Direito'},
 {'n_inscr': 70, 'posicao': 24, 'nome': 'Ciclano Barbosa', 'grupo': 'TI'},
 {'n_inscr': 71, 'posicao': 24, 'nome': 'Fulano Oliveira', 'grupo': 'Gestão'},
 {'n_inscr': 72,
  'posicao': 24,
  'nome': 'Beltrano Oliveira',
  'grupo': 'Direito'},
 {'n_inscr': 73, 'posicao': 25, 'nome': 'João Almeida', 'grupo': 'TI'},
 {'n_inscr': 74, 'posicao': 25, 'nome': 'Fulano Ferreira', 'grupo': 'Gestão'},
 {'n_inscr': 75, 'posicao': 25, 'nome': 'Ciclano Pereira', 'grupo': 'Direito'},
 {'n_inscr': 76, 'posicao': 26, 'nome': 'Ciclano Almeida', 'grupo': 'TI'},
 {'n_inscr': 77, 'posicao': 26, 'nome': 'Carlos Souza', 'grupo': 'Gestão'},
 {'n_inscr': 78, 'posicao': 26, 'nome': 'Ana Souza', 'grupo': 'Direito'},
 {'n_inscr': 79, 'posicao': 27, 'nome': 'Carlos Oliveira', 'grupo': 'TI'},
 {'n_inscr': 80, 'posicao': 27, 'nome': 'Pedro Silva', 'grupo': 'Gestão'},
 {'n_inscr': 81, 'posicao': 27, 'nome': 'Carlos Almeida', 'grupo': 'Direito'},
 {'n_inscr': 82, 'posicao': 28, 'nome': 'Ana Martins', 'grupo': 'TI'},
 {'n_inscr': 83, 'posicao': 28, 'nome': 'Julia Barbosa', 'grupo': 'Gestão'},
 {'n_inscr': 84, 'posicao': 28, 'nome': 'Pedro Costa', 'grupo': 'Direito'},
 {'n_inscr': 85, 'posicao': 29, 'nome': 'Carlos Gomes', 'grupo': 'TI'},
 {'n_inscr': 86, 'posicao': 29, 'nome': 'Fulano Barbosa', 'grupo': 'Gestão'},
 {'n_inscr': 87, 'posicao': 29, 'nome': 'Fulano Souza', 'grupo': 'Direito'},
 {'n_inscr': 88, 'posicao': 30, 'nome': 'João Gomes', 'grupo': 'TI'},
 {'n_inscr': 89,
  'posicao': 30,
  'nome': 'Beltrano Ferreira',
  'grupo': 'Gestão'},
 {'n_inscr': 90,
  'posicao': 30,
  'nome': 'Beltrano Martins',
  'grupo': 'Direito'},
 {'n_inscr': 91, 'posicao': 31, 'nome': 'Julia Souza', 'grupo': 'TI'},
 {'n_inscr': 92, 'posicao': 31, 'nome': 'Ciclano Costa', 'grupo': 'Gestão'},
 {'n_inscr': 93, 'posicao': 31, 'nome': 'Ana Oliveira', 'grupo': 'Direito'},
 {'n_inscr': 94, 'posicao': 32, 'nome': 'Julia Costa', 'grupo': 'TI'},
 {'n_inscr': 95, 'posicao': 32, 'nome': 'Maria Gomes', 'grupo': 'Gestão'},
 {'n_inscr': 96, 'posicao': 32, 'nome': 'João Pereira', 'grupo': 'Direito'},
 {'n_inscr': 97, 'posicao': 33, 'nome': 'Maria Martins', 'grupo': 'TI'},
 {'n_inscr': 98, 'posicao': 33, 'nome': 'Pedro Almeida', 'grupo': 'Gestão'},
 {'n_inscr': 99, 'posicao': 33, 'nome': 'Fulano Pereira', 'grupo': 'Direito'},
 {'n_inscr': 100, 'posicao': 34, 'nome': 'Pedro Pereira', 'grupo': 'TI'}]

TabelaAprovados.metadata
for aprovado in lista_aprovados:
    db.inserirDados(TabelaAprovados, data_dict = aprovado )

In [4]:
db.retornarTabela(TabelaAprovados)

   n_inscr  posicao               nome    grupo
0        1        1  Jimmy Paiva Gomes       TI
1        2        1     Luiza Oliveira   Gestão
2        3        1        Maria Souza  Direito
3        4        2        Maria Costa       TI
4        5        2        Luiza Costa   Gestão
..     ...      ...                ...      ...
95      96       32       João Pereira  Direito
96      97       33      Maria Martins       TI
97      98       33      Pedro Almeida   Gestão
98      99       33     Fulano Pereira  Direito
99     100       34      Pedro Pereira       TI

[100 rows x 4 columns]

In [5]:
lista_usuarios = [
 {'n_inscr': 2,
  'senha': 'senha2',
  'email': 'user2@example.com',
  'telefone': '3551168187',
  'opcao': 'Indeciso'},
 {'n_inscr': 3,
  'senha': 'senha3',
  'email': 'user3@example.com',
  'telefone': '2729876524',
  'opcao': 'Vai assumir'},
 {'n_inscr': 4,
  'senha': 'senha4',
  'email': 'user4@example.com',
  'telefone': '3833608358',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 5,
  'senha': 'senha5',
  'email': 'user5@example.com',
  'telefone': '7592662632',
  'opcao': 'Indeciso'},
 {'n_inscr': 6,
  'senha': 'senha6',
  'email': 'user6@example.com',
  'telefone': '4069271186',
  'opcao': 'Vai assumir'},
 {'n_inscr': 7,
  'senha': 'senha7',
  'email': 'user7@example.com',
  'telefone': '4329364786',
  'opcao': 'Indeciso'},
 {'n_inscr': 8,
  'senha': 'senha8',
  'email': 'user8@example.com',
  'telefone': '1977539353',
  'opcao': 'Indeciso'},
 {'n_inscr': 9,
  'senha': 'senha9',
  'email': 'user9@example.com',
  'telefone': '6403453125',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 10,
  'senha': 'senha10',
  'email': 'user10@example.com',
  'telefone': '9553847630',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 11,
  'senha': 'senha11',
  'email': 'user11@example.com',
  'telefone': '6955634211',
  'opcao': 'Vai assumir'},
 {'n_inscr': 12,
  'senha': 'senha12',
  'email': 'user12@example.com',
  'telefone': '8679408459',
  'opcao': 'Vai assumir'},
 {'n_inscr': 13,
  'senha': 'senha13',
  'email': 'user13@example.com',
  'telefone': '6355096845',
  'opcao': 'Vai assumir'},
 {'n_inscr': 14,
  'senha': 'senha14',
  'email': 'user14@example.com',
  'telefone': '4464834002',
  'opcao': 'Vai assumir'},
 {'n_inscr': 15,
  'senha': 'senha15',
  'email': 'user15@example.com',
  'telefone': '6294448888',
  'opcao': 'Indeciso'},
 {'n_inscr': 16,
  'senha': 'senha16',
  'email': 'user16@example.com',
  'telefone': '4288925092',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 17,
  'senha': 'senha17',
  'email': 'user17@example.com',
  'telefone': '5175445866',
  'opcao': 'Vai assumir'},
 {'n_inscr': 18,
  'senha': 'senha18',
  'email': 'user18@example.com',
  'telefone': '6618292910',
  'opcao': 'Indeciso'},
 {'n_inscr': 19,
  'senha': 'senha19',
  'email': 'user19@example.com',
  'telefone': '4719903768',
  'opcao': 'Indeciso'},
 {'n_inscr': 20,
  'senha': 'senha20',
  'email': 'user20@example.com',
  'telefone': '5890417610',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 21,
  'senha': 'senha21',
  'email': 'user21@example.com',
  'telefone': '8413662758',
  'opcao': 'Vai assumir'},
 {'n_inscr': 22,
  'senha': 'senha22',
  'email': 'user22@example.com',
  'telefone': '4181330667',
  'opcao': 'Vai assumir'},
 {'n_inscr': 23,
  'senha': 'senha23',
  'email': 'user23@example.com',
  'telefone': '2531740015',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 24,
  'senha': 'senha24',
  'email': 'user24@example.com',
  'telefone': '2489305715',
  'opcao': 'Indeciso'},
 {'n_inscr': 25,
  'senha': 'senha25',
  'email': 'user25@example.com',
  'telefone': '1568394260',
  'opcao': 'Vai assumir'},
 {'n_inscr': 26,
  'senha': 'senha26',
  'email': 'user26@example.com',
  'telefone': '3492657335',
  'opcao': 'Vai assumir'},
 {'n_inscr': 27,
  'senha': 'senha27',
  'email': 'user27@example.com',
  'telefone': '3047852639',
  'opcao': 'Vai assumir'},
 {'n_inscr': 28,
  'senha': 'senha28',
  'email': 'user28@example.com',
  'telefone': '7258466260',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 29,
  'senha': 'senha29',
  'email': 'user29@example.com',
  'telefone': '5922189988',
  'opcao': 'Vai assumir'},
 {'n_inscr': 30,
  'senha': 'senha30',
  'email': 'user30@example.com',
  'telefone': '8228475971',
  'opcao': 'Indeciso'},
 {'n_inscr': 31,
  'senha': 'senha31',
  'email': 'user31@example.com',
  'telefone': '8327214352',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 32,
  'senha': 'senha32',
  'email': 'user32@example.com',
  'telefone': '5294611002',
  'opcao': 'Indeciso'},
 {'n_inscr': 33,
  'senha': 'senha33',
  'email': 'user33@example.com',
  'telefone': '9121292902',
  'opcao': 'Indeciso'},
 {'n_inscr': 34,
  'senha': 'senha34',
  'email': 'user34@example.com',
  'telefone': '1867429719',
  'opcao': 'Indeciso'},
 {'n_inscr': 35,
  'senha': 'senha35',
  'email': 'user35@example.com',
  'telefone': '1672303198',
  'opcao': 'Indeciso'},
 {'n_inscr': 36,
  'senha': 'senha36',
  'email': 'user36@example.com',
  'telefone': '9490132905',
  'opcao': 'Indeciso'},
 {'n_inscr': 37,
  'senha': 'senha37',
  'email': 'user37@example.com',
  'telefone': '5312245419',
  'opcao': 'Indeciso'},
 {'n_inscr': 38,
  'senha': 'senha38',
  'email': 'user38@example.com',
  'telefone': '1379741017',
  'opcao': 'Vai assumir'},
 {'n_inscr': 39,
  'senha': 'senha39',
  'email': 'user39@example.com',
  'telefone': '6516306070',
  'opcao': 'Vai assumir'},
 {'n_inscr': 40,
  'senha': 'senha40',
  'email': 'user40@example.com',
  'telefone': '3491224617',
  'opcao': 'Vai assumir'},
 {'n_inscr': 41,
  'senha': 'senha41',
  'email': 'user41@example.com',
  'telefone': '8597398211',
  'opcao': 'Indeciso'},
 {'n_inscr': 42,
  'senha': 'senha42',
  'email': 'user42@example.com',
  'telefone': '2445577654',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 43,
  'senha': 'senha43',
  'email': 'user43@example.com',
  'telefone': '3158400771',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 44,
  'senha': 'senha44',
  'email': 'user44@example.com',
  'telefone': '1894095997',
  'opcao': 'Vai assumir'},
 {'n_inscr': 45,
  'senha': 'senha45',
  'email': 'user45@example.com',
  'telefone': '6814580483',
  'opcao': 'Indeciso'},
 {'n_inscr': 46,
  'senha': 'senha46',
  'email': 'user46@example.com',
  'telefone': '6037084685',
  'opcao': 'Indeciso'},
 {'n_inscr': 47,
  'senha': 'senha47',
  'email': 'user47@example.com',
  'telefone': '5527922801',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 48,
  'senha': 'senha48',
  'email': 'user48@example.com',
  'telefone': '2873291279',
  'opcao': 'Indeciso'},
 {'n_inscr': 49,
  'senha': 'senha49',
  'email': 'user49@example.com',
  'telefone': '9991702055',
  'opcao': 'Indeciso'},
 {'n_inscr': 50,
  'senha': 'senha50',
  'email': 'user50@example.com',
  'telefone': '8640310773',
  'opcao': 'Vai assumir'},
 {'n_inscr': 51,
  'senha': 'senha51',
  'email': 'user51@example.com',
  'telefone': '9755558821',
  'opcao': 'Indeciso'},
 {'n_inscr': 52,
  'senha': 'senha52',
  'email': 'user52@example.com',
  'telefone': '3486579455',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 53,
  'senha': 'senha53',
  'email': 'user53@example.com',
  'telefone': '2590615176',
  'opcao': 'Vai assumir'},
 {'n_inscr': 54,
  'senha': 'senha54',
  'email': 'user54@example.com',
  'telefone': '5082179651',
  'opcao': 'Indeciso'},
 {'n_inscr': 55,
  'senha': 'senha55',
  'email': 'user55@example.com',
  'telefone': '3239232905',
  'opcao': 'Indeciso'},
 {'n_inscr': 56,
  'senha': 'senha56',
  'email': 'user56@example.com',
  'telefone': '4827853247',
  'opcao': 'Indeciso'},
 {'n_inscr': 57,
  'senha': 'senha57',
  'email': 'user57@example.com',
  'telefone': '9480155751',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 58,
  'senha': 'senha58',
  'email': 'user58@example.com',
  'telefone': '6974376335',
  'opcao': 'Vai assumir'},
 {'n_inscr': 59,
  'senha': 'senha59',
  'email': 'user59@example.com',
  'telefone': '5642089025',
  'opcao': 'Indeciso'},
 {'n_inscr': 60,
  'senha': 'senha60',
  'email': 'user60@example.com',
  'telefone': '2756436749',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 61,
  'senha': 'senha61',
  'email': 'user61@example.com',
  'telefone': '8751184090',
  'opcao': 'Indeciso'},
 {'n_inscr': 62,
  'senha': 'senha62',
  'email': 'user62@example.com',
  'telefone': '4622587337',
  'opcao': 'Vai assumir'},
 {'n_inscr': 63,
  'senha': 'senha63',
  'email': 'user63@example.com',
  'telefone': '6458015600',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 64,
  'senha': 'senha64',
  'email': 'user64@example.com',
  'telefone': '8406217646',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 65,
  'senha': 'senha65',
  'email': 'user65@example.com',
  'telefone': '3913048393',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 66,
  'senha': 'senha66',
  'email': 'user66@example.com',
  'telefone': '9196056895',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 67,
  'senha': 'senha67',
  'email': 'user67@example.com',
  'telefone': '3159430929',
  'opcao': 'Vai assumir'},
 {'n_inscr': 68,
  'senha': 'senha68',
  'email': 'user68@example.com',
  'telefone': '1285877084',
  'opcao': 'Vai assumir'},
 {'n_inscr': 69,
  'senha': 'senha69',
  'email': 'user69@example.com',
  'telefone': '8391356817',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 70,
  'senha': 'senha70',
  'email': 'user70@example.com',
  'telefone': '3265950454',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 71,
  'senha': 'senha71',
  'email': 'user71@example.com',
  'telefone': '5268797418',
  'opcao': 'Vai assumir'},
 {'n_inscr': 72,
  'senha': 'senha72',
  'email': 'user72@example.com',
  'telefone': '4341020912',
  'opcao': 'Indeciso'},
 {'n_inscr': 73,
  'senha': 'senha73',
  'email': 'user73@example.com',
  'telefone': '9270928550',
  'opcao': 'Indeciso'},
 {'n_inscr': 74,
  'senha': 'senha74',
  'email': 'user74@example.com',
  'telefone': '1573887998',
  'opcao': 'Vai assumir'},
 {'n_inscr': 75,
  'senha': 'senha75',
  'email': 'user75@example.com',
  'telefone': '8567312039',
  'opcao': 'Vai assumir'},
 {'n_inscr': 76,
  'senha': 'senha76',
  'email': 'user76@example.com',
  'telefone': '6414745083',
  'opcao': 'Vai assumir'},
 {'n_inscr': 77,
  'senha': 'senha77',
  'email': 'user77@example.com',
  'telefone': '8989902293',
  'opcao': 'Indeciso'},
 {'n_inscr': 78,
  'senha': 'senha78',
  'email': 'user78@example.com',
  'telefone': '9209949984',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 79,
  'senha': 'senha79',
  'email': 'user79@example.com',
  'telefone': '7702199542',
  'opcao': 'Indeciso'},
 {'n_inscr': 80,
  'senha': 'senha80',
  'email': 'user80@example.com',
  'telefone': '1726264608',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 81,
  'senha': 'senha81',
  'email': 'user81@example.com',
  'telefone': '9859386832',
  'opcao': 'Indeciso'},
 {'n_inscr': 82,
  'senha': 'senha82',
  'email': 'user82@example.com',
  'telefone': '8684717286',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 83,
  'senha': 'senha83',
  'email': 'user83@example.com',
  'telefone': '7302259195',
  'opcao': 'Indeciso'},
 {'n_inscr': 84,
  'senha': 'senha84',
  'email': 'user84@example.com',
  'telefone': '3362786557',
  'opcao': 'Indeciso'},
 {'n_inscr': 85,
  'senha': 'senha85',
  'email': 'user85@example.com',
  'telefone': '6501202201',
  'opcao': 'Indeciso'},
 {'n_inscr': 86,
  'senha': 'senha86',
  'email': 'user86@example.com',
  'telefone': '8819635478',
  'opcao': 'Vai assumir'},
 {'n_inscr': 87,
  'senha': 'senha87',
  'email': 'user87@example.com',
  'telefone': '6156852399',
  'opcao': 'Vai assumir'},
 {'n_inscr': 88,
  'senha': 'senha88',
  'email': 'user88@example.com',
  'telefone': '1538730137',
  'opcao': 'Vai assumir'},
 {'n_inscr': 89,
  'senha': 'senha89',
  'email': 'user89@example.com',
  'telefone': '6334199151',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 90,
  'senha': 'senha90',
  'email': 'user90@example.com',
  'telefone': '8102003494',
  'opcao': 'Não vai assumir'},
 {'n_inscr': 91,
  'senha': 'senha91',
  'email': 'user91@example.com',
  'telefone': '9054222947',
  'opcao': 'Indeciso'},
 {'n_inscr': 92,
  'senha': 'senha92',
  'email': 'user92@example.com',
  'telefone': '3359300036',
  'opcao': 'Vai assumir'},
 {'n_inscr': 93,
  'senha': 'senha93',
  'email': 'user93@example.com',
  'telefone': '2392900071',
  'opcao': 'Vai assumir'},
 {'n_inscr': 94,
  'senha': 'senha94',
  'email': 'user94@example.com',
  'telefone': '2286013101',
  'opcao': 'Indeciso'},
 {'n_inscr': 95,
  'senha': 'senha95',
  'email': 'user95@example.com',
  'telefone': '5277387096',
  'opcao': 'Vai assumir'},
 {'n_inscr': 96,
  'senha': 'senha96',
  'email': 'user96@example.com',
  'telefone': '7849720801',
  'opcao': 'Vai assumir'},
 {'n_inscr': 97,
  'senha': 'senha97',
  'email': 'user97@example.com',
  'telefone': '5548953955',
  'opcao': 'Indeciso'},
 {'n_inscr': 98,
  'senha': 'senha98',
  'email': 'user98@example.com',
  'telefone': '5068320638',
  'opcao': 'Vai assumir'},
 {'n_inscr': 99,
  'senha': 'senha99',
  'email': 'user99@example.com',
  'telefone': '9977738743',
  'opcao': 'Indeciso'},
 {'n_inscr': 100,
  'senha': 'senha100',
  'email': 'user100@example.com',
  'telefone': '5071074428',
  'opcao': 'Não vai assumir'}]

In [6]:
for usuario_potencial in lista_usuarios:
    conta.criarConta(**usuario_potencial)

In [7]:

n_inscr = 2
senha = 'abc'
email = 'ewewe@asko.com'
telefone = '2010202102'
opcao = 'Vai assumir'

In [8]:
db.retornarValor(TabelaAprovados, {'n_inscr': n_inscr})

[{'n_inscr': '2', 'posicao': 1, 'nome': 'Luiza Oliveira', 'grupo': 'Gestão'}]

In [9]:
n_inscr = 9
senha = 'senha9'
resultado = conta.acessarConta(n_inscr, senha=senha)


if resultado['sucesso']:
    luiza = resultado['resultado']
else:
    print(resultado['resultado'])

In [10]:
luiza.verOpcoes(db)['resultado']

opcao
Indeciso           14
Não vai assumir     8
Vai assumir         8
Name: n_inscr, dtype: int64

In [11]:
db.atualizarTabela(TabelaUsuario, filter_dict={'n_inscr': 12}, update_dict={'opcao': 'Indeciso'})

In [12]:
luiza.verOpcoes(db)['resultado']

opcao
Indeciso           15
Não vai assumir     8
Vai assumir         7
Name: n_inscr, dtype: int64

In [16]:
luiza.posicao

3

In [13]:
db.retornarListaUsuariosNaFrente(grupo=luiza.grupo, posicao=luiza.posicao).head()

,n_inscr,posicao,nome,senha,email,telefone,grupo,data_criacao,data_ultima_modificacao,opcao,role
0,12,4,Beltrano Gomes,$2b$12$HvGYgIkL2P9ZckXblTIKAu/VQePRsDLHK8q9rkU...,user12@example.com,8679408459,Direito,2025-01-18 12:46:21.639198,2025-01-18 12:46:38.120921,Indeciso,usuario
1,15,5,Fulano Gomes,$2b$12$Pa.C1A4wp1qwcUbYJA7Y7ORDB4RF6QCA06C2ATL...,user15@example.com,6294448888,Direito,2025-01-18 12:46:22.122914,2025-01-18 12:46:22.122918,Indeciso,usuario
2,18,6,Julia Martins,$2b$12$CfusuAnjbz1oZbHJZmSh1uQzu891Z4XzFjuEFXG...,user18@example.com,6618292910,Direito,2025-01-18 12:46:22.600411,2025-01-18 12:46:22.600415,Indeciso,usuario
3,21,7,Ana Gomes,$2b$12$qrbLW.CIuFKLL3AY82XnMe1.ndN3u4wG5tW3bnd...,user21@example.com,8413662758,Direito,2025-01-18 12:46:23.077118,2025-01-18 12:46:23.077121,Vai assumir,usuario
4,24,8,João Martins,$2b$12$5M2MVbNrMpSBq1bhA9j/BuKXeoqlCIjYSd0ZuYw...,user24@example.com,2489305715,Direito,2025-01-18 12:46:23.554470,2025-01-18 12:46:23.554473,Indeciso,usuario

In [14]:
grupo_ti = Grupo(grupo='TI', db=db)

In [15]:
grupo_ti.mostrarLink()

{'função': 'mostrarLink',
 'data': datetime.datetime(2025, 1, 18, 12, 46, 38, 188975),
 'sucesso': True,
 'resultado': 'link sera mostrado p TI'}